<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.petclient">
    <!--连接网络权限，用于执行云端语音能力 -->
    <uses-permission android:name="android.permission.INTERNET" />
    <!--读取网络信息状态 -->
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <!--获取当前wifi状态 -->
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <!--允许程序改变网络连接状态 -->
    <uses-permission android:name="android.permission.CHANGE_NETWORK_STATE" />

    <!-- 读取外置存储。如果开发者使用了so动态加载功能并且把so文件放在了外置存储区域，则需要申请该权限，否则不需要 -->
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <!-- 写外置存储。如果开发者使用了离线地图，并且数据写在外置存储区域，则需要申请该权限 -->
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />

    <!-- 这个权限用于进行网络定位 -->
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <!-- 这个权限用于访问GPS定位 -->
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />

    <!--用于进行网络定位-->
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <!--用于访问GPS定位-->
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_LOCATION_EXTRA_COMMANDS" />

    <!--获取网络状态，用于在线算路与离线算路之间的切换 -->
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <!--用于访问WIFI网络状态，用于判断网络状态 -->
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <!--写入扩展存储，向扩展卡写入数据，用于离线数据的写入 -->
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <!-- 用于ugc事件上报拍照录像 -->
    <uses-permission android:name="android.permission.CAMERA" />
    <!-- 用于ugc事件上报录音 -->
    <uses-permission android:name="android.permission.RECORD_AUDIO" />
    <!-- 后台服务 -->
    <uses-permission android:name="android.permission.FOREGROUND_SERVICE" />

    <application
        android:name=".App"
        android:allowBackup="true"
        android:networkSecurityConfig="@xml/network_security_config"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <meta-data
            android:name="com.baidu.lbsapi.API_KEY"
            android:value="xjIowvVdn1cB0mssNXuulq08snj24b2Z" />
        <service android:name="com.baidu.location.f"
            android:enabled="true"
            android:process=":remote"/>
        <activity
            android:name=".MainActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".views.activity.PetActivity"></activity>
        <activity android:name=".views.activity.HomeActivity"></activity>
        <activity android:name=".views.activity.SignActivity"></activity>
        <activity android:name=".views.activity.MapActivity"></activity>
        <activity android:name=".views.activity.ShopActivity"></activity>
        <activity android:name=".views.activity.PetCenterActivity"></activity>
        <activity android:name=".views.activity.RechargeOrderActivity"></activity>
        <activity android:name=".views.activity.RechargeActivity"></activity>
        <activity android:name=".views.activity.InfoActivity"></activity>
        <activity android:name=".views.activity.PasswordActivity"></activity>
        <activity android:name=".views.activity.MessageActivity"></activity>
        <activity android:name=".views.activity.ShopOrderActivity"></activity>


        <activity android:name=".views.activity.PetIllActivity"></activity>
        <activity android:name=".views.activity.PetTestActivity"></activity>
        <activity android:name=".views.activity.PetShowerRecordActivity"></activity>
        <activity android:name=".views.activity.PetSterilizationActivity"></activity>

        <activity android:name=".views.activity.PetShowerActivity"></activity>
        <activity android:name=".views.activity.PetVaccineActivity"></activity>
    </application>

</manifest>